/* App.css */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f0f4ff;
}

.page {
  flex: 1;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}